html
  head
    title Lil Friends Daycare - #{vars.title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      nav
        ul
          li
            a(href="/") Home
            a(href="/login") login
            a(href="/cities") Cities
    block content
