extends layout
block content
  center
    h2 Times
    select.selector
      each client, key in vars.clients
        option(value=key).
          #{client.fname}
          #{client.lname}
    .grid.times_table
      
block scripts
  script.
    var clients = !{vars.clients}
